.canvasjs-chart-canvas{
  
    margin: 20px auto;
}
select{
    width: 90px;
    height: 35px;
    border-radius: 10px;
}
.save-button{
    display: block;
    margin-top: 15px;
}

.theme{
    margin-top:10px;
}
.chart-open{
    display: none;
    margin-top: 10px;
}
.chart-open {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    gap: 4px;
    margin: 5px;
    position: absolute;
    z-index: 10;
    min-width: 175px;
    bottom: 34px;
    left: -11px;
  }

.color-bars {
    position: relative;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="color"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.save{
    display: block;
    margin-top: 10px;
}
  
.canvasjs-chart-credit {
    display: none;
}

  .settings-column {
      position: relative;
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: center;
      margin-top: 30px;
      flex-wrap: wrap;
  }

.form-control {
    width: auto !important;
}

.cycle-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}