.select-product-widget {
    position: absolute;
    z-index: 1040;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.black-background {
    position: absolute;
    z-index: 1050;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
}

.select-window {
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,.9);
    min-height: 400px;
    background-color: #ffffff;
    min-width: 600px;
    z-index: 1060;
}

.window-content {
    margin: 20px;
}